body {
    font-family: Arial;
}

#selecoes-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2;
    text-align: center;
}

.card img {
    width: 100px;
}